grafana:
  enabled: true
  adminPassword: admin
  service:
    type: ClusterIP

prometheus:
  prometheusSpec:
    retention: 12h
    resources:
      requests:
        cpu: "200m"
        memory: "400Mi"
      limits:
        cpu: "500m"
        memory: "800Mi"

alertmanager:
  enabled: false

kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: false
